<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/tracks.css') }}" />
</head>

<body>
    <div id="search">
        <h1 id="title">
            <a id="titleLink" href="/tracks">Catalogue</a>
        </h1>
        <input id="searchBar" type="text" onkeyup="", placeholder="Search artist names, track names, keywords, etc..">
    </div>

    <div id="tracks">
    {% if method == 'GET'%}
        {% if track is defined %}
                <div id="trackCover">
                    <img src="data:image/jpeg;base64, {{ track.cover | to_base64 }}"> <br>
                </div>
                <div id="trackInfo">
                    <h2> {{track.name}} by {{track.artist}}</h2>
                    <p> Released on {{track.release_date}} </p>
                </div>
        {% elif tracks is defined %}
            <h2 class="trackTitle">All Tracks:</h2>
                <ul id="trackList">
                    {% for track in tracks %}
                    <li class="trackItem"> <img src="data:image/jpeg;base64, {{ track.cover | to_base64 }}"> <a href="{{ url_for('main.get_track', id=track.id) }}"> {{track.name}} - {{track.artist}} </a></li>
                    {% endfor %}    
                </ul>
        {% else %}
            <p> Error </p>
        {% endif %}

    {% elif method == 'POST' %}
        <h2 class="trackTitle">Uploaded!</h2>        
            <p>Added: {{track.name}} by {{track.artist}}</p>

    {% elif method == 'DELETE' %}
        {% if track is defined %}
            <h2 class="trackTitle">Deleted!</h2>
                <p> Deleted: {{track.id}} - {{track.name}} - {{track.artist}} </p>
        {% else %}
            <h2 class="trackTitle">Cleared</h2>
                <p> The Track table of the database was successfully cleared. </p>
        {% endif %}
    {% endif %}
    </div>

    <div id="upload">
        <h2 id="uploadTitle">Upload!</h2>
        <form id="uploadForm" action="/tracks" method="post" enctype="multipart/form-data">

            <input class="uploadInput" id="uploadArtist" type="text" name="artist" placeholder="Artist Name"><br><br>
            <input class="uploadInput" id="uploadName" type="text" name="name" placeholder="Track Name"><br><br>

            <div id="uploadDate">
                <label for="date">Release Date:</label>
                <input type="date" name="release_date">
            </div>

            <label for="uploadData" id="customUploadData">
                Upload MP3      
            </label>
            <input id="uploadData" type="file" name="data" value="data">

            <label for="uploadCover" id="customUploadCover">
                Upload Cover
            </label>
            <input id="uploadCover" type="file" name="cover" value="cover">

            <input id="uploadSubmit" type="submit" value="SUBMIT">

        </form> 
    </div>
    
    <script>
        
    </script>
</body>
</html>