<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/tracks.css') }}" />
</head>

<body>
    <div id="search">
        <h1 id="title">
            <a id="titleLink" href="/tracks">Catalogue</a>
        </h1>
        <input id="searchBar" type="text" onkeyup="", placeholder="Search artist names, track names, keywords, etc..">
    </div>

    <div id="tracks">
    {% if method == 'GET'%}
        {% if track is defined %}
            <h2 class="trackTitle">Track:</h2>
                <p> {{track.id}} - {{track.name}} - {{track.artist}} </p>
        {% elif tracks is defined %}
            <h2 class="trackTitle">All Tracks:</h2>
                <ul id="trackList">
                    {% for track in tracks %}
                    <li class="trackItem"> {{track.id}} - {{track.name}} - {{track.artist}} </li>
                    {% endfor %}    
                </ul>
        {% else %}
            <p> Error </p>
        {% endif %}

    {% elif method == 'POST' %}
        <h2 class="trackTitle">Uploaded!</h2>        
            <p>Added: {{track.name}} by {{track.artist}}</p>

    {% elif method == 'DELETE' %}
        {% if track is defined %}
            <h2 class="trackTitle">Deleted!</h2>
                <p> Deleted: {{track.id}} - {{track.name}} - {{track.artist}} </p>
        {% else %}
            <h2 class="trackTitle">Cleared</h2>
                <p> The Track table of the database was successfully cleared. </p>
        {% endif %}
    {% endif %}
    </div>

    <div id="upload">
        <h2 id="uploadTitle">Upload!</h2>
        <form id="uploadForm" action="/tracks" method="post">
            <input class="uploadInput" id="uploadArtist" type="text" id="artist" name="artist" placeholder="Artist Name"><br><br>
            <input class="uploadInput" id="uploadName" type="text" id="name" name="name" placeholder="Track Name"><br><br>
            <input id="uploadSubmit" type="submit" value="UPLOAD">
        </form> 
    </div>
    
    <script>
        
    </script>
</body>
</html>